USE [sqm]
GO
/****** Object:  Table [dbo].[SkinSection]    Script Date: 16/12/2015 07:59:20 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SkinSection](
	[idSkinSection] [int] IDENTITY(1,1) NOT NULL,
	[szDesc] [varchar](100) NOT NULL,
	[bInternalSrch] [smallint] NOT NULL,
	[iInternalSrchVal] [smallint] NULL,
	[szDescAlias] [varchar](100) NOT NULL,
	[bShow] [smallint] NOT NULL,
 CONSTRAINT [PK_SkinSection] PRIMARY KEY CLUSTERED 
(
	[idSkinSection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
