USE [sqm]
GO
/****** Object:  Table [dbo].[EncuestaDetalles]    Script Date: 16/12/2015 07:59:20 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncuestaDetalles](
	[idEncuestaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[idEncuestaOpcion] [int] NULL,
	[idEncuesta] [int] NULL,
	[dblAcumulado] [numeric](18, 0) NULL,
 CONSTRAINT [PK_EncuestaDetalles] PRIMARY KEY CLUSTERED 
(
	[idEncuestaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]

GO
