USE [sqm]
GO
/****** Object:  Table [dbo].[Contador]    Script Date: 16/12/2015 07:59:20 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contador](
	[iContador] [int] NULL
) ON [PRIMARY]

GO
