USE [sqm]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 16/12/2015 07:59:20 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[dtFI] [int] NOT NULL,
	[dtFF] [int] NOT NULL
) ON [PRIMARY]

GO
